:root{--nord0:#2e3440;--nord1:#3b4252;--nord2:#434c5e;--nord3:#4c566a;--nord4:#d8dee9;--nord5:#e5e9f0;--nord6:#eceff4;--nord7:#8fbcbb;--nord8:#88c0d0;--nord9:#81a1c1;--nord10:#5e81ac;--nord11:#bf616a;--nord12:#d08770;--nord13:#ebcb8b;--nord14:#a3be8c;--nord15:#b48ead}

html,
.footer{
    background: var(--nord0);
    color: var(--nord5);
    transition: 0.12s ease all;
}
h1,h2,h3,h4,h5,h6,
button {
    color: var(--nord5) !important;
    transition: 0.12s ease all;
    
}

textarea {
    background: var(--nord1) !important;
    color: var(--nord4) !important;
    border-color: var(--nord3) !important;
    transition: 0.12s ease all;
}

.button-primary {
    background: var(--nord9) !important;
    border-color: var(--nord9) !important;
    transition: 0.12s ease all;
}

hr {
    border-color: var(--nord1);
}

a {
    color: var(--nord8);
}