* {
    font-family: "IBM Plex Mono";
}

html {
    padding-bottom: 10em;
}
textarea,
canvas {
    width: 100%;
    height: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

canvas {
    border: 1px solid #999;
    border-radius: 3px;
}

#sponge-out textarea {
    display: flex;
    flex-grow: 1;
}

h1,
h5 {
    font-family: "Calistoga";
}
.footer {
    display: block;
    position: fixed !important;
    margin: auto;
    bottom: 0;
    left: 0;
    width: 100%;
}

hr {
    max-width: 960px;
}

.footer-inner {
    font-size: 0.8em;
    text-align: center;
    margin: 0.5em;
    padding: 0.5em;
    height: 100%;
    width: 100%;
}

button.u-pull-left {
    margin-right: 0.3em;
}